<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Asistente Virtual UAEMEX{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo-uaemex.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <script src="{% static 'js/chat.js' %}"></script>
    {% block extra_js %}{% endblock %}
     <script src="http://127.0.0.1:8000/static/js/chat-widget.js"></script>
</body>
</html>